.neko-fact {
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
}

.nekofact-btn{
    border-top-left-radius: 80px;
    border-bottom-right-radius: 90px;
    background: white;
    border: solid brown 2px;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

footer {
    margin-top: auto;
    text-align: center;
}
