@font-face {
    font-family: 'Jeju Hallasan';
    src: url('./assets/fonts/JejuHallasan-Regular.ttf') format('truetype');
    font-weight: bold; 
    font-style: normal;
}

.neko-fact-fullpage {
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-top: 2px;
}

.neko-fact-outputbox {
    background: rgb(255, 65, 65);
    box-shadow: 4px 6px 6px rgb(211, 93, 93);
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 3px solid rgb(182, 55, 55);
    border-radius: 7px;
    height: 50vh;
}

.nekofact-btn {
    margin: 30px;
    border-top-left-radius: 65px;
    border-bottom-right-radius: 75px;
    background: white;
    border: solid brown 2px;
    box-shadow: 4px 6px 6px rgb(246, 171, 171);
}

.nekofact-btn:active {
    transform: translateY(2px);
}

#neko-btn-img {
    height: 100px;
    width: auto;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    overflow-y: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
    position: relative;
    bottom: 10px;
    width: 95%;
    text-align: center;
    padding-bottom: 75px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(158, 90, 90);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(243, 76, 76);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ca2b2b;
}

.loading-pic{
    color: rgb(255, 127, 127);
    margin-bottom: 10px;
    margin-top: 25%;
}

.neko-heading{
    color:white;
    font-family: 'Jeju Hallasan';
    font-size: 30px;
    padding: 2%;
    text-align: center;
    margin-bottom: 0.6%;
    /*box-shadow: 4px 6px 6px rgb(211, 93, 93);*/
    border-radius: 2px;
    background-color: #F28787;
}

.did-you-know{
    color: rgb(150, 150, 150);
    font-family: 'Jeju Hallasan';
}

.navbar{
    position: fixed;
    right: 1%;
    bottom: 0;
    width: 13%;
    background-color: #CB5252;
    padding: 2%;
    border-radius: 10px;
}
.addcontent{
    padding-bottom: 5%;
}

.nav-item {
    text-decoration: none;
    color: #fff;
    margin: 7%; 
    height: auto;
    width: auto;
    padding: 2%;
}

#nya_nya{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}